.bars-wrapper-wrapper {
	display: grid; 
	grid-gap: 20px; 
	padding: 20px; 
	color: rgba(255, 255, 255, 1);
	background-color: rgba(33, 33, 43, 1);
	border-radius: 20px;
}
.bars-wrapper {
	display: grid; 
	grid-template-rows: min-content min-content; 
	white-space: nowrap;
}
.bars {
	display: grid; 
	grid-template-columns: auto 20px;  
	text-align: center
}